.App {
  /* text-align: center; */
  background-color: #50beb7;
  height: auto;
  padding: 3rem;
}

@media only screen and (max-width: 600px) {
  .App {
    /* text-align: center; */
    background-color: #50beb7;
    height: auto;
    padding: 1rem;
  }
}

/* =============== Produc list ============= */
.products-list {
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  height: auto;
}
.all-product-list {
  color: black;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  left: 0rem;
  padding-bottom: 3rem;
}
.all-product-list > h2 {
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .products-list {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    height: auto;
    width: 18rem;
  }

  .all-product-list {
    color: black;
    height: auto;
    width: 15rem;
    position: relative;
    display: grid;
    grid-template-columns: 30rem;
    /* grid-column-gap: 3rem; */
    grid-row-gap: 2rem;
    left: 0rem;
    padding-bottom: 3rem;
  }
}
